@charset "UTF-8";
html {
  height: 100%;
}

body {
  background-color: #f1f1ab;
  font-family: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 0;
}

img {
  width: 75%;
}

@media screen and (min-width: 768px) {
  img {
    width: 100%;
  }
}

div.main_content {
  margin: 0 auto;
  min-height: 75vh;
  background-color: #f1f1ab;
}

div.main_content p {
  line-height: 1.73;
}

@media screen and (min-width: 768px) {
  div.main_content {
    width: 768px;
  }
}

.start_page {
  margin: 30px 2vw 0 2vw;
  padding: 5px 2vw 20px 2vw;
  background-color: #ffc82f;
}

.start_page .title {
  background-color: #ffff2f;
  margin-bottom: 5vh;
}

@media screen and (min-width: 768px) {
  .start_page .title {
    font-size: 1.5rem;
  }
}

.start_page .title > h1 {
  font-size: 1.5rem;
  margin: 30px 1vw 0 1vw;
}

.start_page .title > h2 {
  font-size: 1.25rem;
  margin: 0 1vw 0 1vw;
}

.start_page .btn_parent {
  margin-top: 2em;
}

.btn_parent {
  text-align: center;
  height: 132px;
}

.btn_parent > .start_btn {
  margin: 3px;
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  background: #ff8181;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn_parent > .start_btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.btn_parent > .yes_btn {
  margin: 3px;
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  background: #06d328;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #026821;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn_parent > .yes_btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.btn_parent > .no_btn {
  margin: 3px;
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  background: #fc3d3d;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #be0606;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn_parent > .no_btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.quest_bg {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #999999;
}

.animate_circle {
  display: none;
  z-index: 101;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  width: 0vw;
  height: 0vh;
  -webkit-box-shadow: 0px 0px 0px 2000px #999999;
          box-shadow: 0px 0px 0px 2000px #999999;
}

.result {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background: #ffffff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result .slide_inner {
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .result .slide_inner {
    width: 768px;
  }
}

.result .slide_inner p {
  text-align: left;
  padding: 30px;
}

.result .slide_inner p .result_alert {
  color: red;
}

.result .result_teach_img, .result .result_type_img {
  width: 75vw;
}

@media screen and (min-width: 768px) {
  .result .result_teach_img, .result .result_type_img {
    width: 640px;
  }
}

.result_title {
  padding: 0.2em 0.5em;
  margin: 2em 2em 2em 2em;
  color: #565656;
  background: #ffeaea;
  -webkit-box-shadow: 0px 0px 0px 10px #ffeaea;
          box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.result_title h2 {
  margin: 0;
  padding: 0;
}

.slide_question_base {
  display: none;
}

.slide_question {
  z-index: 99;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background: #949494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_question .slide_inner {
  width: 100vw;
  margin: 3px;
  padding: 1em;
  overflow: auto;
  overflow-x: hidden;
  background: #ddd;
}

@media screen and (min-width: 768px) {
  .slide_question .slide_inner {
    width: auto;
  }
}

.slide_question .slide_inner > h2 {
  text-align: center;
  margin-bottom: 30px;
}

.slide_question .slide_inner > p {
  margin-bottom: 30px;
}

.slide_question .slide_inner > .answer_box {
  display: table;
  margin: auto;
}

.slide_question .slide_inner > .answer_box > div {
  display: table-cell;
}
/*# sourceMappingURL=shindan.css.map */