@charset "UTF-8";
html {
  height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2em, #ffffff), color-stop(0, transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, #bbdefb), color-stop(0, transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, #ef9a9a), color-stop(0, #7986cb));
  background: linear-gradient(90deg, #ffffff 0.2em, transparent 0), linear-gradient(90deg, #bbdefb 50%, transparent 0), linear-gradient(90deg, #ef9a9a 50%, #7986cb 0);
  background-size: 4vw, 8vw, 16vw;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBBDEFB', endColorstr='#FFEF9A9A', GradientType=0);
  font-family: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    background-size: 20px, 40px, 80px;
  }
}

img {
  width: 75%;
}

@media screen and (min-width: 768px) {
  img {
    width: 100%;
  }
}

.line {
  max-width: 120px;
}

.center_content {
  margin: 0 auto;
  text-align: center;
}

.center_content > * {
  display: inline-block;
}

div.main_content {
  margin: 20px auto 20px auto;
  min-height: 75vh;
  background-color: #ffffe6;
}

div.main_content p {
  line-height: 1.73;
}

@media screen and (min-width: 768px) {
  div.main_content {
    width: 768px;
  }
}

@media screen and (min-width: 1000px) {
  div.main_content {
    width: 1000px;
  }
}

.start_page {
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 768px) {
  .start_page {
    width: 768px;
  }
}

.start_page .title {
  margin-bottom: 5vh;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .start_page .title {
    font-size: 1.5rem;
  }
}

.start_page .title > h1 {
  display: none;
  font-size: 1.5rem;
  margin: 30px 1vw 0 1vw;
}

.start_page .title > h2 {
  display: none;
  font-size: 1.25rem;
  margin: 0 1vw 0 1vw;
}

.start_page .title > img {
  width: 100%;
}

.start_page .title > img.pc {
  display: none !important;
}

.start_page .title > img.sp {
  display: block !important;
}

@media screen and (min-width: 768px) {
  .start_page .title > img.pc {
    display: block !important;
  }
  .start_page .title > img.sp {
    display: none !important;
  }
}

.start_page .description {
  padding: 5px 2vw 10px;
  max-width: 600px;
  margin: 0 auto;
}

.start_page .description .point {
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-bottom: 2rem;
  position: relative;
  padding-top: 55px;
  padding-bottom: 15px;
  border: 1px solid #83aaea;
  background-color: #f8fdff;
}

.start_page .description .point::before {
  position: absolute;
  top: 0.7em;
  left: 0em;
  content: "Point!";
  padding: 0em 2em 0em 1.5em;
  font-size: 90%;
  font-weight: bold;
  line-height: 2;
  color: #fff;
  width: 3.15em;
  height: 1.9em;
  background-color: #83aaea;
  border-top: dashed 1px #FFF;
  border-bottom: dashed 1px #FFF;
  -webkit-box-shadow: 0px 0px 0px 3px #83aaea;
          box-shadow: 0px 0px 0px 3px #83aaea;
}

.start_page .description .point::after {
  position: absolute;
  content: '';
  z-index: 1;
  top: .49em;
  left: 5.7em;
  width: 0px;
  height: 0px;
  border-width: 17px 8px 17px 0px;
  border-color: transparent #f8fdff transparent transparent;
  border-style: solid;
}

.start_page .btn_parent {
  margin-top: 2em;
}

.btn_parent {
  text-align: center;
  height: 132px;
}

.btn_parent > .start_btn {
  margin: 3px;
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  background: #ff8181;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn_parent > .start_btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.btn_parent > .yes_btn {
  margin: 3px;
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  background: #06d328;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #026821;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn_parent > .yes_btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.btn_parent > .no_btn {
  margin: 3px;
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  background: #fc3d3d;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #be0606;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn_parent > .no_btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.quest_bg {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe4e4;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-image: linear-gradient(45deg, #ffb9a7 25%, #ffb9a7 25%, transparent 25%, transparent 75%, #ffb9a7 75%, #ffb9a7 75%), linear-gradient(-135deg, #ffb9a7 25%, #ffb9a7 25%, transparent 25%, transparent 75%, #ffb9a7 75%, #ffb9a7 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFE4E4', endColorstr='#FFFFB9A7', GradientType=0);
}

.animate_circle {
  display: none;
  z-index: 101;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  width: 0vw;
  height: 0vh;
  -webkit-box-shadow: 0px 0px 0px 2000px #999999;
          box-shadow: 0px 0px 0px 2000px #999999;
}

.result {
  display: none;
  margin: auto;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result .slide_inner {
  background: #ffffff;
  margin: 15px auto;
  padding-top: 1em;
  width: 98vw;
}

@media screen and (min-width: 768px) {
  .result .slide_inner {
    width: 768px;
  }
}

.result .slide_inner p {
  text-align: left;
  padding: 30px;
}

.result .slide_inner p.result_alert {
  color: red;
}

.result .result_teach_img,
.result .result_type_img {
  width: 75vw;
}

@media screen and (min-width: 768px) {
  .result .result_teach_img,
  .result .result_type_img {
    width: 640px;
  }
}

.result_title {
  padding: 0.2em 0.5em;
  margin: 0em 2em 2em 2em;
  color: #565656;
  background: #ffeaea;
  -webkit-box-shadow: 0px 0px 0px 10px #ffeaea;
          box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.result_title h2 {
  margin: 0;
  padding: 0;
}

.slide_question_base {
  display: none;
}

.slide_question {
  z-index: 99;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_question .slide_inner {
  width: 100vw;
  text-align: center;
  margin: 3px;
  padding: 1em;
  overflow: auto;
  overflow-x: hidden;
  background: #ffcccc;
}

@media screen and (min-width: 768px) {
  .slide_question .slide_inner {
    width: auto;
  }
}

.slide_question .slide_inner > h2 {
  margin-bottom: 30px;
}

.slide_question .slide_inner > p {
  display: inline-block;
  text-align: left;
  margin-bottom: 30px;
}

.slide_question .slide_inner > .answer_box {
  display: table;
  margin: auto auto 30px;
}

.slide_question .slide_inner > .answer_box > div {
  display: table-cell;
}
/*# sourceMappingURL=shindan.css.map */